.left-section p {
  color: rgba(255, 255, 255, 0.75);
  font-family: Readex Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.right-section p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Readex Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.rights-reserved {
  color: rgba(255, 255, 255, 0.25);
  font-family: Readex Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
