@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-styled-text {
  font-family: Pixeloid Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--title, linear-gradient(167deg, #b7f476 0%, #60ac34 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
